body {
  margin: 2em;
  font-family: sans-serif;
  max-width: 1200px;
}

.main-header {
  border: 1px solid blue;
  padding: 0.2em;
}

.main-footer {
  border: 1px solid red;
   padding: 0.2em;
}

.view-main {
  border: 1px solid green;
   padding: 0.5em;
}